# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
test/calculator/input.dart
test/calculator/logic.dart
test/calculator/main.dart
test/classes/classes.dart
test/explorer/explorer.dart
test/pets/main.dart
test/pets/pets.dart
test/project_1/classes.dart
test/project_1/functions.dart
test/project_1/long_file.dart
test/project_1/main.dart
test/project_1/short_file.dart
test/project_1/test_hoisting.dart
test/project_1/folder/program_1.dart
test/project_1/folder/test_class_usage.dart
test/project_1/folder/test_class.dart
test/project_1/scoping/definition.dart
test/project_1/scoping/usage.dart
test/scoping/funcs.dart
test/scoping/main.dart
test/scoping/vars.dart
test/snippet/main.dart
test/weather_app/lib/src/main.dart
test/weather_app/lib/src/models/weather.dart
test/weather_app/lib/src/services/weather_api_client.dart
test/weather_app/lib/src/services/weather_repository.dart
test/weather_app/lib/src/utilities/error_handler.dart
